.project {
    display: flex;
    border-bottom: 5px slategrey solid;
    height: 5rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

#pr_gc:hover {
    background-color: #369083;
}

#pr_bw:hover {
    background-color: #752575;
}

.projectName {
    display: inline-flex;
}

a {
  text-decoration: none;
  color: black;
}
